<a
  href="<%= href %>"
  class="flex-fill d-block custom-border d-flex overflow-hidden"
>
  <div
    class="flex-fill d-flex gap-3 align-items-center p-2 p-md-4 <%= bgClass %>"
  >
    <p class="h3 text-black underline-black"><%= title %></p>
    <img src="/icons/arrow-right.svg" style="width: 25px" alt="arrow icon" />
  </div>
</a>
