<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/_head') %>
    <title>FooDrinks | Categories</title>
  </head>
  <body class="min-vh-100 d-flex flex-column">
    <%- include("../partials/_navbar", { activeNav : 'categories' }) %>

    <main class="flex-grow-1 main-content">
      <div class="pt-5 pb-3">Categories 11</div>
      <div>Active Nav: <%= activeNav || 'undefined' %></div>
    </main>

    <%- include("../partials/_footer") %>
  </body>
</html>
