<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Dependencies  header -->
    <%- include('../partials/_head') %>
    <title>FooDrinks | Categories</title>
  </head>
  <body class="min-vh-100 d-flex flex-column">
    <!-- Navbar -->
    <%- include("../partials/_navbar", { activeNav : 'categories' }) %>

    <!-- Main -->
    <main class="flex-grow-1 main-content">
      <div class="mt-5 mb-4 d-flex align-items-center gap-4">
        <h1 class="inline">Categories</h1>
        <a
          href="/categories/create"
          class="btn btn-sm custom-border"
          style="background-color: rgba(var(--rgb-2), 0.7)"
          >+ add categories</a
        >
      </div>
      <ul
        id="categories-container"
        class="d-flex flex-wrap justify-content-start gap-4"
      >
        <% categories.forEach(category => { %>
        <!-- Card Category -->
        <%- include('./_cardCategory', {category, getContrastColor})%>
        <!--  -->
        <% }); %>
      </ul>
    </main>

    <!-- Footer -->
    <%- include("../partials/_footer") %>
  </body>
</html>
